# Database
DB_NAME=<name>
DB_USERNAME=<user_name>
DB_PASSWORD=<strong_password>
DB_PORT=<port, ex:5432>

# JWT (Must be Base64-encoded, at least 256 bits)
# Generate: openssl rand -base64 32
JWT_SECRET=<random_string>
JWT_ACCESS_EXPIRATION=<ex: 60000 (unit: milliseconds)>
JWT_REFRESH_EXPIRATION=<ex: 604800000(7 days)>

# Server
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=prod or dev
